<div class="pin-pad">
  <div class="container-fluid numblock text-center">
    <div class="row num-row align-items-center">
      <div class="col col-offset-4">
        <p class="h1"><i class="fa fa-coffee" aria-hidden="true"></i> Kaffee getrunken </p>
        <p class="h1">****</p>
      </div>
    </div>
    <div class="row num-row align-items-center">
      <div class="col">
        <p class="h1">1</p>
      </div>
      <div class="col">
          <p class="h1">2</p>
      </div>
      <div class="col">
          <p class="h1">3</p>
      </div>
    </div>
    <div class="row num-row align-items-center">
      <div class="col">
          <p class="h1">4</p>
      </div>
      <div class="col">
          <p class="h1">5</p>
      </div>
      <div class="col">
          <p class="h1">6</p>
      </div>
    </div>
    <div class="row num-row align-items-center">
      <div class="col">
          <p class="h1">7</p>
      </div>
      <div class="col">
          <p class="h1">8</p>
      </div>
      <div class="col">
          <p class="h1">9</p>
      </div>
    </div>
    <div class="row num-row align-items-center">
        <div class="col col-offset-4">
            <p class="h1">0</p>
        </div>
      </div>
      <div class="row num-row align-items-center">
          <div class="col col-offset-4">
              <p class="h1"><button class="btn btn-secondary">bestätigen</button></p>
          </div>
        </div>
  </div>
</div>